# Team assignment - Boston

## Description of the dataset

In [1]:
import numpy as np #optional
import pandas as pd

### Bike rentals

Read data on bike rentals:

In [15]:
bike15 = pd.read_csv("boston_2015.csv") #test

In [22]:
#for later use
bike16 = pd.read_csv("boston_2016.csv")
bike17 = pd.read_csv("boston_2017.csv")
bike18 = pd.read_csv("boston_2018.csv")
bike19 = pd.read_csv("boston_2019.csv")

In [16]:
bike15.colums #prob. not possible because data type is not an (python) object

AttributeError: 'DataFrame' object has no attribute 'colums'

In [20]:
bike15.head(3)

,start_time,end_time,start_station_id,end_station_id,start_station_name,end_station_name,bike_id,user_type
0,2015-01-01 00:21:44,2015-01-01 00:30:47,115,96,Porter Square Station,Cambridge Main Library at Broadway / Trowbridg...,277,Subscriber
1,2015-01-01 00:27:03,2015-01-01 00:34:21,80,95,MIT Stata Center at Vassar St / Main St,Cambridge St - at Columbia St / Webster Ave,648,Subscriber
2,2015-01-01 00:31:31,2015-01-01 00:35:46,91,68,One Kendall Square at Hampshire St / Portland St,Central Square at Mass Ave / Essex St,555,Subscriber

In [21]:
bike15.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1122558 entries, 0 to 1122557
Data columns (total 8 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   start_time          1122558 non-null  object
 1   end_time            1122558 non-null  object
 2   start_station_id    1122558 non-null  int64
 3   end_station_id      1122558 non-null  object
 4   start_station_name  1122558 non-null  object
 5   end_station_name    1122558 non-null  object
 6   bike_id             1122558 non-null  int64
 7   user_type           1122558 non-null  object
dtypes: int64(2), object(6)
memory usage: 68.5+ MB

**Cleaning the datset:**

In [29]:
bike15.isnull()

,start_time,end_time,start_station_id,end_station_id,start_station_name,end_station_name,bike_id,user_type
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
1122553,False,False,False,False,False,False,False,False
1122554,False,False,False,False,False,False,False,False
1122555,False,False,False,False,False,False,False,False
1122556,False,False,False,False,False,False,False,False
1122557,False,False,False,False,False,False,False,False

### Weather

Read weather data:

In [23]:
weatherhour = pd.read_csv("weather_hourly_boston.csv")

In [25]:
weatherhour.colums #prob. not possible because data type is not an (python) object

AttributeError: 'DataFrame' object has no attribute 'colums'

In [26]:
weatherhour.head(3)

             date_time  max_temp  min_temp  precip
0  2015-01-02 01:00:00      -1.1      -1.1     0.0
1  2015-01-02 02:00:00      -1.1      -1.1     0.0
2  2015-01-02 03:00:00      -0.6      -0.6     0.0

In [28]:
weatherhour.describe()

           max_temp      min_temp        precip
count  43354.000000  43354.000000  43356.000000
mean      11.456717     11.395922      0.095581
std       10.118606     10.114095      0.294019
min      -22.800000    -22.800000      0.000000
25%        3.300000      3.300000      0.000000
50%       11.700000     11.700000      0.000000
75%       20.000000     19.850000      0.000000
max       36.100000     36.100000      1.000000

In [27]:
weatherhour.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43848 entries, 0 to 43847
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date_time  43354 non-null  object
 1   max_temp   43354 non-null  float64
 2   min_temp   43354 non-null  float64
 3   precip     43356 non-null  float64
dtypes: float64(3), object(1)
memory usage: 1.3+ MB

**Cleaning the datset:**

In [30]:
weatherhour.isnull()

       date_time  max_temp  min_temp  precip
0          False     False     False   False
1          False     False     False   False
2          False     False     False   False
3          False     False     False   False
4          False     False     False   False
...          ...       ...       ...     ...
43843      False     False     False   False
43844      False     False     False   False
43845      False     False     False   False
43846      False     False     False   False
43847      False     False     False   False

[43848 rows x 4 columns]