In [2]:
import numpy as np
from numpy import mean
from numpy import std
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
from matplotlib import rcParams
import seaborn as sns
import datetime

In [3]:
pred_model = pd.read_csv("Pred_Model.csv")

In [41]:
pred_model.set_index('start_time')
pred_model.head()

,Unnamed: 0,start_time,end_time,start_station_id,end_station_id,start_station_name,end_station_name,bike_id,user_type,trip_duration,...,hourofyear,trip_id,revenue,Number,Latitude,Longitude,District,Public,Total docks,Deployment Year
0,0,2016-01-01 00:25:13,2016-01-01 00:43:06,107,176,Ames St at Main St,Lesley University,204,Subscriber,0 days 00:17:53,...,0,107-176,2.95,M32037,42.3625,-71.08822,Cambridge,Yes,19,2012.0
1,1,2016-01-01 08:49:02,2016-01-01 09:09:45,107,73,Ames St at Main St,Harvard Square at Brattle St / Eliot St,1495,Customer,0 days 00:20:43,...,8,107-73,2.95,M32037,42.3625,-71.08822,Cambridge,Yes,19,2012.0
2,2,2016-01-01 16:11:27,2016-01-01 16:15:12,107,117,Ames St at Main St,Binney St / Sixth St,985,Subscriber,0 days 00:03:45,...,16,107-117,2.95,M32037,42.3625,-71.08822,Cambridge,Yes,19,2012.0
3,3,2016-01-01 16:17:39,2016-01-01 17:44:18,107,110,Ames St at Main St,Harvard University Gund Hall at Quincy St / Ki...,1293,Subscriber,0 days 01:26:39,...,16,107-110,7.95,M32037,42.3625,-71.08822,Cambridge,Yes,19,2012.0
4,4,2016-01-01 16:18:19,2016-01-01 17:44:36,107,110,Ames St at Main St,Harvard University Gund Hall at Quincy St / Ki...,1281,Subscriber,0 days 01:26:17,...,16,107-110,7.95,M32037,42.3625,-71.08822,Cambridge,Yes,19,2012.0

In [35]:
weather_hourly = pd.read_csv('weather_hourly.csv')

In [37]:
# Creating Dataframe only containing values from 2016 
weatherhour = weatherhour.loc['2016-01-01 00:00:00' : '2016-12-31 23:00:00']
weatherhour['temp_av'] = (weatherhour['update_maxtemp'] + weatherhour['update_mintemp']) / 2
weatherhour = weatherhour.drop(columns = ['update_mintemp', 'update_maxtemp'])

In [36]:
weatherhour = weather_hourly.drop(columns = ['max_temp','min_temp','precip','interp_maxtemp','interp_mintemp','interp_precip'])
weatherhour = weatherhour.set_index('Unnamed: 0')
weatherhour.index.names = ['daytime']
weatherhour.head(5)

                     update_maxtemp  update_mintemp  update_precip
daytime
2015-01-01 06:00:00            -5.6            -5.6            0.0
2015-01-01 07:00:00            -5.6            -5.6            0.0
2015-01-01 08:00:00            -5.6            -5.6            0.0
2015-01-01 09:00:00            -4.4            -4.4            0.0
2015-01-01 10:00:00            -5.6            -5.6            0.0

In [38]:
weatherhour.head()

                     update_precip  temp_av
daytime
2016-01-01 00:00:00            0.0      5.6
2016-01-01 01:00:00            0.0      5.0
2016-01-01 02:00:00            0.0      5.0
2016-01-01 03:00:00            0.0      4.4
2016-01-01 04:00:00            0.0      4.4

In [ ]:
df = df.merge

- Bike data indexieren
- bereinigen
- groupby.dt.hour.size()
- mergen
- Holdout/Training Split

- Time of the day in hours 
- Month
- Weekday (1-7)
- Temperature (average of min and max temp cause very similar)
- Precipitation (0,1)

In [ ]:
Polynomial (lasso/...)
Random Forest
Neural Networks