In [1]:
import numpy as np
from numpy import mean
from numpy import std
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
from matplotlib import rcParams
import seaborn as sns
import datetime

In [2]:
pred_model = pd.read_csv("Pred_Model.csv")

In [3]:
pred_model['start_time'] = pd.to_datetime(pred_model['start_time'])
pred_model['end_time'] = pd.to_datetime(pred_model['end_time'])

In [4]:
pred_model_counts = pred_model.groupby([pd.Grouper(key='start_time', freq = 'H')]).size().to_frame('counts')

In [5]:
pred_model_counts["counts"].sum()
#pred_model_counts.head()

1236059

In [6]:
# make index to column to create day of week and month based on date
pred_model_counts['index1'] = pred_model_counts.index
pred_model_counts["weekday"] = pred_model_counts["index1"].dt.dayofweek
pred_model_counts["month"] = pred_model_counts["index1"].dt.month

In [7]:
pred_model_counts = pred_model_counts.drop('index1', axis=1)

In [8]:
pred_model_counts.index.names = ['daytime']
pred_model_counts.index = pd.to_datetime(pred_model_counts.index)
pred_model_counts

                     counts  weekday  month
daytime
2016-01-01 00:00:00      13        4      1
2016-01-01 01:00:00      14        4      1
2016-01-01 02:00:00       9        4      1
2016-01-01 03:00:00       1        4      1
2016-01-01 04:00:00       0        4      1
...                     ...      ...    ...
2016-12-31 19:00:00      20        5     12
2016-12-31 20:00:00      13        5     12
2016-12-31 21:00:00      22        5     12
2016-12-31 22:00:00       6        5     12
2016-12-31 23:00:00       6        5     12

[8784 rows x 3 columns]

## Import weather and merge with pred_model_counts

In [9]:
weather_hourly = pd.read_csv('weather_hourly.csv')
weather_hourly.head()

,Unnamed: 0,max_temp,min_temp,precip,interp_maxtemp,interp_mintemp,interp_precip,update_maxtemp,update_mintemp,update_precip
0,2015-01-01 06:00:00,-5.6,-5.6,0.0,-5.6,-5.6,0.0,-5.6,-5.6,0.0
1,2015-01-01 07:00:00,-5.6,-5.6,0.0,-5.6,-5.6,0.0,-5.6,-5.6,0.0
2,2015-01-01 08:00:00,-5.6,-5.6,0.0,-5.6,-5.6,0.0,-5.6,-5.6,0.0
3,2015-01-01 09:00:00,-4.4,-4.4,0.0,-4.4,-4.4,0.0,-4.4,-4.4,0.0
4,2015-01-01 10:00:00,-5.6,-5.6,0.0,-5.6,-5.6,0.0,-5.6,-5.6,0.0

In [11]:
# Creating Dataframe only containing values from 2016 
# weatherhour = weather_hourly.loc['2016-01-01 00:00:00' : '2016-12-31 23:00:00']
# weatherhour['temp_av'] = (weatherhour['update_maxtemp'] + weatherhour['update_mintemp']) / 2
# weatherhour = weatherhour.drop(columns = ['update_mintemp', 'update_maxtemp'])
# weather_hourly.head()

,Unnamed: 0,max_temp,min_temp,precip,interp_maxtemp,interp_mintemp,interp_precip,update_maxtemp,update_mintemp,update_precip
0,2015-01-01 06:00:00,-5.6,-5.6,0.0,-5.6,-5.6,0.0,-5.6,-5.6,0.0
1,2015-01-01 07:00:00,-5.6,-5.6,0.0,-5.6,-5.6,0.0,-5.6,-5.6,0.0
2,2015-01-01 08:00:00,-5.6,-5.6,0.0,-5.6,-5.6,0.0,-5.6,-5.6,0.0
3,2015-01-01 09:00:00,-4.4,-4.4,0.0,-4.4,-4.4,0.0,-4.4,-4.4,0.0
4,2015-01-01 10:00:00,-5.6,-5.6,0.0,-5.6,-5.6,0.0,-5.6,-5.6,0.0

In [10]:
weatherhour = weather_hourly.drop(columns = ['max_temp','min_temp','precip','interp_maxtemp','interp_mintemp','interp_precip'])
weatherhour['temp_av'] = (weatherhour['update_maxtemp'] + weatherhour['update_mintemp']) / 2
weatherhour = weatherhour.drop(columns = ['update_mintemp', 'update_maxtemp'])
weatherhour = weatherhour.set_index('Unnamed: 0')
weatherhour.index.names = ['daytime']
weatherhour.index = pd.to_datetime(weatherhour.index)
weatherhour

                     update_precip  temp_av
daytime
2015-01-01 06:00:00            0.0     -5.6
2015-01-01 07:00:00            0.0     -5.6
2015-01-01 08:00:00            0.0     -5.6
2015-01-01 09:00:00            0.0     -4.4
2015-01-01 10:00:00            0.0     -5.6
...                            ...      ...
2020-01-02 01:00:00            0.0      3.3
2020-01-02 02:00:00            0.0      3.3
2020-01-02 03:00:00            0.0      2.8
2020-01-02 04:00:00            0.0      2.8
2020-01-02 05:00:00            0.0      2.2

[43848 rows x 2 columns]

In [64]:
weatherhour.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 43848 entries, 2015-01-01 06:00:00 to 2020-01-02 05:00:00
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   update_precip  43848 non-null  float64
 1   temp_av        43848 non-null  float64
dtypes: float64(2)
memory usage: 1.0 MB

In [11]:
weatherhour = weatherhour.loc['2016-01-01 00:00:00' : '2016-12-31 23:00:00']
weatherhour

                     update_precip  temp_av
daytime
2016-01-01 00:00:00            0.0      5.6
2016-01-01 01:00:00            0.0      5.0
2016-01-01 02:00:00            0.0      5.0
2016-01-01 03:00:00            0.0      4.4
2016-01-01 04:00:00            0.0      4.4
...                            ...      ...
2016-12-31 19:00:00            0.0      1.7
2016-12-31 20:00:00            0.0      1.7
2016-12-31 21:00:00            0.0      1.7
2016-12-31 22:00:00            0.0      2.2
2016-12-31 23:00:00            0.0      3.3

[8784 rows x 2 columns]

In [25]:
pred_model_joint = pred_model_counts.join(weatherhour, how="left")
pred_model_joint

                     counts  weekday  month  update_precip  temp_av
daytime
2016-01-01 00:00:00      13        4      1            0.0      5.6
2016-01-01 01:00:00      14        4      1            0.0      5.0
2016-01-01 02:00:00       9        4      1            0.0      5.0
2016-01-01 03:00:00       1        4      1            0.0      4.4
2016-01-01 04:00:00       0        4      1            0.0      4.4
...                     ...      ...    ...            ...      ...
2016-12-31 19:00:00      20        5     12            0.0      1.7
2016-12-31 20:00:00      13        5     12            0.0      1.7
2016-12-31 21:00:00      22        5     12            0.0      1.7
2016-12-31 22:00:00       6        5     12            0.0      2.2
2016-12-31 23:00:00       6        5     12            0.0      3.3

[8784 rows x 5 columns]

- Bike data indexieren
- bereinigen
- groupby.dt.hour.size()
- mergen
- Holdout/Training Split

- Time of the day in hours 
- Month
- Weekday (0-6)
- Temperature (average of min and max temp cause very similar)
- Precipitation (0,1)

In [ ]:
Polynomial (lasso/...)
Random Forest
Neural Networks

### Polynomial Regression

#### Additional Packages need to be installed

In [17]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.model_selection import train_test_split

%matplotlib inline

In [20]:
pred_model_joint.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 8784 entries, 2016-01-01 00:00:00 to 2016-12-31 23:00:00
Freq: H
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   counts         8784 non-null   int64
 1   weekday        8784 non-null   int64
 2   month          8784 non-null   int64
 3   update_precip  8784 non-null   float64
 4   temp_av        8784 non-null   float64
dtypes: float64(2), int64(3)
memory usage: 669.8 KB

In [26]:
#### To Create Dummys, we need to convert variables to "category" type
pred_model_joint['weekday']=pred_model_joint['weekday'].astype('category')
pred_model_joint['month']=pred_model_joint['month'].astype('category')
pred_model_joint['update_precip']=pred_model_joint['update_precip'].astype('category')

In [27]:
pred_model_joint = pd.get_dummies(pred_model_joint, drop_first=True)
pred_model_joint.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 8784 entries, 2016-01-01 00:00:00 to 2016-12-31 23:00:00
Freq: H
Data columns (total 23 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   counts                            8784 non-null   int64
 1   temp_av                           8784 non-null   float64
 2   weekday_1                         8784 non-null   uint8
 3   weekday_2                         8784 non-null   uint8
 4   weekday_3                         8784 non-null   uint8
 5   weekday_4                         8784 non-null   uint8
 6   weekday_5                         8784 non-null   uint8
 7   weekday_6                         8784 non-null   uint8
 8   month_2                           8784 non-null   uint8
 9   month_3                           8784 non-null   uint8
 10  month_4                           8784 non-null   uint8
 11  month_5                           8784 non-null   uint8
 12  month_6                           8784 non-null   uint8
 13  month_7                           8784 non-null   uint8
 14  month_8                           8784 non-null   uint8
 15  month_9                           8784 non-null   uint8
 16  month_10                          8784 non-null   uint8
 17  month_11                          8784 non-null   uint8
 18  month_12                          8784 non-null   uint8
 19  update_precip_0.3333333333333333  8784 non-null   uint8
 20  update_precip_0.5                 8784 non-null   uint8
 21  update_precip_0.6666666666666666  8784 non-null   uint8
 22  update_precip_1.0                 8784 non-null   uint8
dtypes: float64(1), int64(1), uint8(21)
memory usage: 644.1 KB

In [28]:
pred_model_joint.head()

,counts,temp_av,weekday_1,weekday_2,weekday_3,weekday_4,weekday_5,weekday_6,month_2,month_3,...,month_7,month_8,month_9,month_10,month_11,month_12,update_precip_0.3333333333333333,update_precip_0.5,update_precip_0.6666666666666666,update_precip_1.0
daytime,,,,,,,,,,,,,,,,,,,,,
2016-01-01 00:00:00,13,5.6,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2016-01-01 01:00:00,14,5.0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2016-01-01 02:00:00,9,5.0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2016-01-01 03:00:00,1,4.4,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2016-01-01 04:00:00,0,4.4,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

#### Splitting Data in test and training set

In [33]:
training_data, testing_data = train_test_split(pred_model_joint, test_size=0.3)